body {
	margin: 100px;
	margin-top: 15px;
	background-color: LightCyan;
	font-family: 'Raleway', sans-serif;
}

header img {
	height: 100px;
	width: 100px;
	display: block;
	margin-left: 50%;
	margin-right: 50%;
}


nav ul li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	padding-left: 100px;
	padding-right: 100px;
}

section{
	padding-top: 10px;
}

h1 {
	font-family: Impact;
	font-size: 50px;
	text-align: center;
}

ul, p{
	color: DimGrey;
}

ul#lists{
	list-style-type: square;
	line-height: 24px;
}

ul#lists ul {
	list-style-type: circle;
}

em{
	color: #000080;
}

a{
	text-decoration: none;
	font-style: italic;
}

pre{
	overflow: auto;
	background-color: rgba(25, 25, 112, .1);
	border-style: groove;
	padding-top: 15px;
	margin: auto;
}
table{
	border-collapse: collapse;
	margin-top: 30px;
	margin-bottom: 30px;
}
table, th, td{
	border-style: solid;
	padding: 10px;
}

img {
	vertical-align: middle;
	border-radius: 20%;

}

#shark img:hover {
	opacity: .5;
}
#hippo img:hover {
	opacity: .5;
}

footer {
	padding-top: 20px;
	text-align: center;
}